<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ document_data.document_name }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main_page.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container-fluid mt-4">
        <h1 class="section-title mb-4">{{ document_data.document_name }}</h1>
        <div class="row mb-3">
            <div class="col-12 col-md-12">
                <div class="table-responsive-sm">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th class="fixed-width-th">Номер документа:</th>
                                <td>{{ document_data.document_number }}</td>
                            </tr>
                            <tr>
                                <th>Дата регистрации:</th>
                                <td>{{ document_data.registration_date }}</td>
                            </tr>
                            <tr>
                                <th>Зарегистрировал:</th>
                                <td>{{ document_data.registered_by }}</td>
                            </tr>
                            {% if document_data.prepared_by != '' %}
                            <tr>
                                <th>Подготовил:</th>
                                <td>{{ document_data.prepared_by }}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <details>
            <summary style="font-size: 1.1rem;" class="mt-2 mb-3 fs-6">
                <b>Подробности о документе</b>
            </summary>
            <ul class="nav nav-tabs mb-4" id="navtabs" role="tablist">
                {% if approvement_data %}
                <li>
                    <a class="nav-link" id="approval-tab" data-toggle="tab" href="#approval-info" role="tab">
                        Согласование
                    </a>
                </li>
                {% endif %}
                {% if attached_files %}
                <li>
                    <a class="nav-link" id="files-tab" data-toggle="tab" href="#files-info" role="tab">
                        Файлы
                    </a>
                </li>
                {% endif %}
                {% if signs_data %}
                <li>
                    <a class="nav-link active" id="signs-tab" data-toggle="tab" href="#signs-info" role="tab">
                        Подписи
                    </a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content">
                {% if approvement_data %}
                <div class="tab-pane fade show" id="approval-info" role="tabpanel">
                    <div class="row mb-3">
                        <div class="col-12 col-md-12">
                            <div class="table-responsive-lg table-scrollable">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-light sticky-top">
                                        <tr>
                                            <th>Должность</th>
                                            <th>Ф. И. О</th>
                                            <th>Дата</th>
                                            <th>Согласовано</th>
                                            <th>Комментарий</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for index, person in approvement_data.items() %}
                                        {% if person.name == "" %}
                                        <tr class="not-approved">
                                            <td>{{ person.get("role", "На согласовании") }}</td>
                                            {% for _ in range(3) %}
                                            <td>{{ "На согласовании" }}</td>
                                            {% endfor %}
                                            <td>{{ person.comment }}</td>
                                        {% else %}
                                        <tr class="approved">
                                            <td>{{ person.role }}</td>
                                            <td>{{ person.name }}</td>
                                            <td>{{ person.sign_date }}</td>
                                            <td>{{ person.approvement_mark}}</td>
                                            <td>{{ person.comment }}</td>
                                        {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if attached_files %}
                <div class="tab-pane fade show" id="files-info" role="tabpanel">
                    <div class="row mb-3">
                        <div class="col-12 col-md-12">
                            <div class="table-responsive-lg table-scrollable">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-light sticky-top">
                                        <tr>
                                            <th>Прикреплённый файл</th>
                                            <th>Прикрепивший файл</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for file_data in attached_files %}
                                            {% set collapse_files = 'file_col_' ~ loop.index0 %}
                                            <tr class="file-row" data-toggle="collapse" data-target="#{{ collapse_files }}" aria-expanded="false" aria-controls="{{ collapse_files }}" style="cursor: pointer;">
                                                <td>{{ file_data.name }}</td>
                                                <td>{{ file_data.attached_by }}</td>
                                            </tr>    
                                            {% if file_data.signs_data %}
                                            <tr id="{{ collapse_files }}" class="collapse">
                                                <td colspan="2">
                                                    <div class="p-1 bg-light">
                                                        <div class="table-responsive-lg">
                                                            <table class="table table-bordered table-hover m-0">
                                                                <thead class="thead-light sticky-top">
                                                                    <tr>
                                                                        <th>Автор подписи</th>
                                                                        <th>Дата подписи</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for sign_data in file_data.signs_data%}
                                                                    {% set collapse_file_sign = 'f_sign_col_' ~loop.index0 %}
                                                                    <tr class="file-sign-row" data-toggle="collapse" data-target="#{{ collapse_file_sign }}" aria-expanded="false" aria-controls="{{ collapse_file_sign }}" style="cursor: pointer;">
                                                                        <td>{{ sign_data.signed_by }}</td>
                                                                        <td>{{ sign_data.sign_date }}</td>
                                                                    </tr>
                                                                    <tr id="{{ collapse_file_sign }}" class="collapse">
                                                                        <td colspan="2">
                                                                            <div class="p-2 bg-light">
                                                                                <div class="table-responsive-sm">
                                                                                    <table class="table table-bordered table-hover mb-0">
                                                                                        <tbody>
                                                                                            <tr><td colspan="2">🗒️ <b>Данные установленной подписи</b></td></tr>
                                                                                            <tr>
                                                                                                <th class="fixed-width-th">Дата начала действия:</th>
                                                                                                <td>{{ sign_data.start_time }}</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th class="fixed-width-th">Дата окончания действия:</th>
                                                                                                <td>{{ sign_data.end_time }}</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th class="fixed-width-th">Кем выдана:</th>
                                                                                                <td>{{ sign_data.provider }}</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th class="fixed-width-th">Кому выдана:</th>
                                                                                                <td>{{ sign_data.receiver }}</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th class="fixed-width-th">Открытый ключ:</th>
                                                                                                <td>{{ sign_data.open_key }}</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if signs_data %}
                <div class="tab-pane fade show active" id="signs-info" role="tabpanel">
                    <div class="row mb-3">
                        <div class="col-12 col-md-12">
                            <div class="table-responsive-lg table-scrollable">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-light sticky-top">
                                        <tr>
                                            <th>Дата подписания</th>
                                            <th>Установивший подпись</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for sign in signs_data %}
                                        {% set collapse_id = 'sign_col' ~loop.index0 %}
                                        <tr class="sign-row" data-toggle="collapse" data-target="#{{ collapse_id }}" aria-expanded="false" aria-controls="{{ collapse_id }}" style="cursor: pointer;">
                                            <td>{{ sign.sign_date }}</td>
                                            <td>{{ sign.signed_by }}</td>
                                        </tr>
                                        <tr id="{{ collapse_id }}" class="collapse">
                                            <td colspan="4">
                                                    <div class="p-2 bg-light">
                                                        <div class="table-responsive-sm">
                                                            <table class="table table-bordered table-hover mb-0">
                                                                <tbody>
                                                                    <tr><td colspan="4">🗒️ <b>Данные установленной подписи</b></td></tr>
                                                                    <tr>
                                                                        <th class="fixed-width-th">Дата начала действия:</th>
                                                                        <td>{{ sign.start_time }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="fixed-width-th">Дата окончания действия:</th>
                                                                        <td>{{ sign.end_time }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="fixed-width-th">Кем выдана:</th>
                                                                        <td>{{ sign.provider }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="fixed-width-th">Кому выдана:</th>
                                                                        <td>{{ sign.receiver }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="fixed-width-th">Открытый ключ:</th>
                                                                        <td>{{ sign.open_key }}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </details>
        <hr>
        {% if qr_data %}
        <div class="row mb-3">
            <div class="col-6 col-md-6 col-sm-12">
                <img src="data:image/png;base64,{{ qr_data.qr_binary }}" alt="QR Code" class="img-fluid border">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 col-md-6 col-sm-12 d-flex">
                <p>
                    <a href="{{ qr_data.qr_link }}" target="_blank">
                        Для более подробной информации о документе перейдите в 1C.
                    </a>
                </p>
            </div>
        </div>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
